# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/chroma_db/
backend/processed_pdfs/
backend/models/

# Next.js
frontend/.next/
frontend/node_modules/
frontend/.env.local

# General
.DS_Store