fastapi
uvicorn
ocrmypdf
pymupdf
python-multipart
langchain
langchain-text-splitters
chromadb
sentence-transformers
groq
supabase==2.10.0
websockets==13.0
httpx==0.24.1
httpcore==0.17.3
Pillow
python-dotenv
aiofiles